In [1]:
import pandas as pd
import numpy as np
import os

# Create initial species list based on BSG annotations

In [2]:
model_path = 'models/Spain_Portugal/' # name of the model
os.mkdir(model_path)

In [3]:
# define the BSG sites that will be included in the model
site_list = [622, 718, 655, 750, 643] #spain & portugal

np.save(model_path + 'site_list.npy', site_list)

annotations = pd.read_csv("BSG_results/10s_annotations.csv")
bsg_species = pd.read_csv("BSG_results/bsg_species.csv")

annotations = annotations[annotations['site_id'].isin(site_list)]
species_list = np.unique(annotations['species_code'])
species_list = np.delete(species_list, np.where(species_list == 'other'))
species_list = bsg_species[bsg_species['species_code'].isin(species_list)]
species_list.to_csv(model_path + 'initial_sp_list.csv', index=False) # save initial list for manual check 
species_list

,species_code,common_name,scientific_name,xc_common_name,xc_scientific_name
164,mallar3,Mallard,Anas platyrhynchos,Mallard,Anas platyrhynchos
403,comqua1,Common Quail,Coturnix coturnix,Common Quail,Coturnix coturnix
412,relpar1,Red-legged Partridge,Alectoris rufa,Red-legged Partridge,Alectoris rufa
458,redjun,Red Junglefowl,Gallus gallus,Red Junglefowl,Gallus gallus
534,grefla3,Greater Flamingo,Phoenicopterus roseus,Greater Flamingo,Phoenicopterus roseus
...,...,...,...,...,...
9848,eurgol,European Goldfinch,Carduelis carduelis,European Goldfinch,Carduelis carduelis
9851,eurser1,European Serin,Serinus serinus,European Serin,Serinus serinus
9860,eursis,Eurasian Siskin,Spinus spinus,Eurasian Siskin,Spinus spinus
9890,corbun1,Corn Bunting,Emberiza calandra,Corn Bunting,Emberiza calandra
9897,cirbun1,Cirl Bunting,Emberiza cirlus,Cirl Bunting,Emberiza cirlus

The species list should be manually checked in case of erroneous annotations. Additional species can also be included, if necessary.

# Check and save final species list

In [5]:
species_list = pd.read_csv(model_path + 'initial_species_list.csv')
# Check if information of species names exists for all species
# print species with missing names
species_list.loc[species_list['xc_scientific_name'].isna()]

Empty DataFrame
Columns: [species_code, common_name, scientific_name, xc_common_name, xc_scientific_name]
Index: []

In [6]:
# Check if all species included in the species list still exist in xeno-canto archives (due to eg. taxonomic changes, changes in species names etc.)

# print species_list with non-matching species names
# xeno-canto species list updated from https://xeno-canto.org/collection/species/all on 11.6.2024
xc_species = pd.read_csv("BSG_results/xc_species.csv")
species_list.loc[~species_list['xc_scientific_name'].isin(xc_species['Scientific name'])]

# if needed, manually fix the updated names to  bsg_results/bsg_species.csv and to the current species list model_path/species_list.csv

Empty DataFrame
Columns: [species_code, common_name, scientific_name, xc_common_name, xc_scientific_name]
Index: []